services:
  app:
    image: javjm/getting-started-todo-app:latest
    ports:
      - "3000:3000"

  tests:
    build: .
    environment:
      BASE_URL: "http://app:3000"  # Use service name instead of localhost
    command: ["pytest", "-vv"]
    depends_on:
      - app