on:
  push:
    branches:
      - main

jobs:
  ui-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout test repo
        uses: actions/checkout@v4

      - name: Run tests against pulled image
        run: docker compose up --build --exit-code-from tests --abort-on-container-exit
