on:
  push:
    branches:
      - main

jobs:
  ui-tests:
    runs-on: ubuntu-latest
    steps:
       - name: Build the docker container
         uses: actions/checkout@v3
       - run: docker build -t todo-tests .

       - name: Run the Sweet Shop Tests
         run: docker run --rm todo-tests